*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f3f4;
    color: #000;
}

/* ---- ---- presentación ---- ---- */


header{
    width: 100%;
    height: 100vh;
}

.cont-slider{
    background: #000000;
    opacity: 95%;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    box-shadow: 0px 5px 10px #000;
}

.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease;
}

.imgs{
    position: inherit;
    min-width: 90%;
    min-height: 55vh;
    margin: auto 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.slider_show{
    transition: all 1s ease;
    opacity: 1%;
    display: none;
}

.img-slider{
    width: 65%;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
    box-shadow: 4px 6px 15px 2px #000;
    transition: all 0.7s ease;
    cursor: pointer;

}

.img-slider:hover{
    transform: scale(1.1);
    border-radius: 4px;
    box-shadow: 6px 15px 30px 3px #000;
}

.img-slider:active{
    transform: scale(0.5);
    position: absolute;
    }


.title{
    margin-top: 5vh;
    height: 44vh;
    display: flex;
    flex-wrap: nowrap;
    color:#000;
}

.imagenes-moneda{
    position: relative;
    width: 15%;
    margin: 4% 0 0 5%;
    transition: transform 2s;
}

.face{
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.img-perfil{
    width: 90%;
    border-radius: 100%;
    border: 2px solid #000;
    padding: 1.5%;
}



.front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    transition: 2s;
}

.back{
    position: absolute;
     transform: perspective(600px) rotateY(180deg);
     transition: 2s;

}

.imagenes-moneda:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.imagenes-moneda:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.pre-perfil{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

.saludo{
    font-size: 4vw;
}

.intro{
    font-size: 3vw;
    margin-left: 5px;
}

.skills{
    color: #1f1f1f;
    font-size: 1.1vw;
    text-align: center;
}


.desarrollo{
    width: 100%;
    height: 58vh;
}

.subtitle{
    margin-top: 2% ;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 3vw;  
    margin-left: 10%;
}

.introSkills{
    width: 90%;
    font-family: "EB Garamond", serif;
    font-weight: 300;
    font-size: 1.5vw;  
    margin-left: 5%;
}

.listaSkill{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3%;    
}

.skill{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;  
    padding-left:10% ;
}

.tituloSkills{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 2vw;
    text-align: center;
}

ul{
    margin: 5%;   
}

li {
    margin-top: 2%;
    margin-left: 10%;
    list-style:none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #758ee2;
}


.activacion-web{
    height: 0;
    transition: height .4s;
}

.arrow{
    transform: rotate(90deg);
}

.sub-carpeta{
    margin-left: 10%;
    overflow: hidden;
    border-left: 2px solid #000;
    border-radius: 5px;
}

.sub-carpeta{
    cursor: pointer;
    transition: height .3s;
    height: 0px;
}



/*****************************************/
/**********Header Media Query*************/
/*****************************************/

@media only screen and (width < 999px) {

    .imgs{
        min-height: 45vh;
        grid-template-columns: 1fr 1fr;
    }
    
    .a{
        display: none;
    }
    .slider{
        gap: 0px;
    }

    .title{
        margin-top: 1vh;
        height: 44vh;
        display: grid;
        grid-template-columns: 1fr;
        color:#000;
    }

    .imagenes-moneda{
        width: 30%;
        margin: 15% auto auto auto;
    }

    .pre-perfil{
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        margin: auto;
        margin-top: 0;
    }

    .saludo{
        font-size: 6vw;
    }
    
    .intro{
        font-size: 5vw;
        margin-left: 5px;
    }

    .subtitle{
        font-family: "EB Garamond", serif;
        font-weight: 600;
        font-size: 7vw;
    }

    
    .skills{
        color: #1f1f1f;
        font-size: 2vw;
        text-align: center;
    }

    .listaSkill{
        grid-template-columns: 1fr 1fr;
    }
    
    .tituloSkills{
        font-size: 3vw;
    }

    .introSkills{
        font-size: 2.5vw;  
    }

    li {
        margin-left: 15%;
        font-size: 2.3vw;
    }

    


}

@media only screen and (width < 676px) {

    .imgs{
        grid-template-columns: 1fr;
    }
    
    .a{
        display: none;  
    }
        
    .b{
        display: none;  
    }

}

@media only screen and (height < 999px) {

    .cont-slider{
        height: 55vh;
    }
}